<div class="container-fluid console_main">
    <div ng-include src="'../templates/nav.html'"></div>

    <h1 class="tc">控制台</h1>
    <div class="create_project_box">
        <ul class="list-group">
            <li class="list-group-item">名称：demos</li>
            <li class="list-group-item">ID：afdfsfsdf</li>
            <li class="list-group-item">AK：adfafads</li>
        </ul>
        <div class="tc">
            <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Demos <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Demos</a></li>
                <li><a href="#">test</a></li>
            </ul>
            </div>
            <button type="button" class="btn btn-danger">删除项目</button>
        </div>
    </div>
</div>