<div class="container-fluid console_main">
    <div ng-include src="'../templates/nav.html'"></div>

    <h1 class="tc">控制台</h1>
    <div class="create_project_box">
        <ul class="list-group">
            <li class="list-group-item">名称：{{ data.name }}</li>
            <li class="list-group-item">ID：{{ data._id }}</li>
            <li class="list-group-item">AK：{{ data.token }}</li>
        </ul>
        <div class="tc">
            <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                {{ data.name }} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="item in list"><a ng-click="change(item)">{{ item.name }}</a></li>
            </ul>
            </div>
            <button type="button" class="btn btn-danger" ng-click="remove(data._id)">删除项目</button>
        </div>
    </div>
</div>