<div ng-include src="'../templates/nav.html'"></div>
<div class="container-fluid">
    <div ng-include src="'../templates/menu.html'"></div>
    <div class="main doc">
        <h3 class="sub-header">帮助中心</h3>
        <div class="p20-0">
            <p>Stat 是一个数据统计平台。</p>
            <p>它是自由的，统计什么，完全取决于你如何使用它</p>
        </div>
        <h3 class="sub-header">功能介绍</h3>
        <div class="p20-0">
            <p>Stat的统计分为 横向和纵向（广度和深度） 两个方向</p>
            <ul>
                <li><strong>横向（广度）</strong>：例如：PV UV 两个完全不同的统计属于 <strong>横向（广度）统计</strong></li>
                <li><strong>纵向（深度）</strong>：例如：一个小区有多少户人家，每户人家产生了多少 PV 和 UV，这里的 小区和户就是 <strong>纵向（深度）统计</strong></li>
            </ul>
        </div>
        <div class="p20-0">
            <p>页面上可以创建 <code>“源（source）”</code>和 <code>“组（group）”</code></p>
            <ul>
                <li><strong>主面板</strong> 列表中的 <strong>红色块</strong> 我称作 <code>“源（source）”</code> 可以理解为项目，用来装项目中各种各样统计的容器。</li>
                <li><strong>源里面</strong> 列表中的 <strong>蓝色块</strong> 我称作 <code>“组（group）”</code> 是统计的具体实例，每个 <strong>组</strong> 统计的东西可能都不一样，这取决于你如何使用它</li>
            </ul>
        </div>
        <h3 class="sub-header">使用说明</h3>
        <div class="p10-0">
            <h4>创建源</h4>
            <p>创建<code>“源（source）”</code> 的时候需要填写一个 <code>“名字（name）”</code>（so easy， 就这么简单）</p>
        </div>
        <h4>创建组</h4>
        <p>创建 <code>“组（group）”</code> 的时候需要添加配置一些信息 <code>“名字（name）”</code>，<code>“key”</code>，<code>“value”</code></p>

        <ul>
            <li>名字（name）：group的名字</li>
            <li>key：可不填，key 决定深度，如果不选，就没有纵向，只有横向统计</li>
            <li>value：必填，value 决定广度</li>
        </ul>

        <p>例如：</p>
        <ul>
            <li>key : community（小区）和 user（用户）</li>
            <li>value : PV</li>
        </ul>
        
        <p>可以统计出</p>

        <ul>
            <li>这个<code>“组（group）”</code>一共有多少PV</li>
            <li>一共有多少个小区，每个小区有多少PV</li>
            <li>每个小区里有多少个用户 - 每个用户产生了多少PV</li>
        </ul>
        <p>在这里可以看到 <strong>PV</strong> 是 <strong>横向（广度）统计</strong>，而 <strong>小区</strong> 和 <strong>用户</strong> 则是 <strong>纵向（深度）统计</strong></p>

        <p class="p20-0">在网站上创建完 <strong>源</strong> 和 <strong>组</strong> 之后，就可以在项目里调用 <strong>api</strong> 来进行统计数据啦</p>

        <h3 class="sub-header">API 使用说明</h3>
    </div>
</div>