<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<div class="login_head tc">
    <h1>stat</h1>
    <p class="lead">这是一个数据统计平台。</p>
</div>
<div class="container-fluid login_main">
    <div class="create_project_box">
        <input type="text" placeholder="登录邮箱" class="input_text mb20" ng-model="data.email" />
        <input type="password" placeholder="登录密码" class="input_text mb20" ng-model="data.password" />
        <button class="btn_nb btn_nb_blue" ng-click="login()">登录</button>
        <div class="clearfix mt10">
            <a href="#" class="fl">注册</a>
            <a href="#" class="fr">忘记密码?</a>
        </div>
    </div>
</div>