<div class="sidebar" ng-controller="menuCtrl">
    <ul class="nav nav-sidebar">
        <li ng-class="{active : isActive('#/source')}"><a href="#/source">
            <span class="menu-icon"><i class="fa fa-desktop"></i></span>
            <span>主面板</span>
            <span class="menu-hover"></span>
        </a></li>
        <li ng-class="{active : isActive('#/doc')}"><a href="#/doc">
            <span class="menu-icon"><i class="fa fa-file-text"></i></span>
            <span>帮助中心</span>
            <span class="menu-hover"></span>
        </a></li>
    </ul>
</div>