<div class="sidebar" ng-controller="menuCtrl">
    <ul class="nav nav-sidebar">
        <li ng-class="{active : isActive('#/source')}"><a href="#/source">
            <span class="menu-icon"><i class="fa fa-desktop"></i></span>
            <span>主面板</span>
            <span class="menu-hover"></span>
        </a></li>
        <li><a href="#/create-group">
            <span class="menu-icon"><i class="fa fa-desktop"></i></span>
            <span>创建分组</span>
            <span class="menu-hover"></span>
        </a></li>
        <li><a href="#/console">
            <span class="menu-icon"><i class="fa fa-desktop"></i></span>
            <span>控制台</span>
            <span class="menu-hover"></span>
        </a></li>
    </ul>
</div>