<div class="container-fluid">
    <div class="row">
        <div ng-include src="'../templates/menu.html'"></div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div ng-include src="'../templates/nav.html'"></div>
            <h2 class="sub-header">今日增加</h2>
            <div class="row placeholders">
                <div class="col-xs-6 col-sm-{{12 / group.length}} placeholder" ng-repeat="item in groups">
                    <div class="bg_blue pointer" ng-click="tabStat(item)">{{ item.contents.length }}</div>
                    <h4>{{item.name}}</h4>
                    <!-- <span class="text-muted">今日增加</span> -->
                </div>
            </div>
            <!-- <h2 class="sub-header" ng-repeat="item in group">{{ item.name }}</h2> -->
            <h2 class="sub-header">报表</h2>
            <div id="column"></div>
            <div id="basics-chart"></div>
            <h2 class="sub-header">数据总量</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>分组名称</th>
                        <th>总数量</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in groups">
                        <td>{{item.name}}</td>
                        <td>{{item.count}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>