<div ng-include src="'../templates/nav.html'"></div>
<div class="container-fluid">
    <div ng-include src="'../templates/menu.html'"></div>
    <div class="main">
        <h3 class="sub-header"><a href="#/source">主面板</a> / {{ data.name }}</h3>
    
        <div class="form-horizontal bg-fff">
            <div class="form-group">
                <label for="textName" class="col-sm-2 control-label">名称</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="textName" placeholder="Name" ng-model="data.name">
                </div>
            </div>
            <div class="form-group m0">
                <div class="col-sm-offset-2 col-sm-5">
                    <button class="btn btn_nb_blue" ng-click="update()">确定</button>
                    <button class="btn btn-danger" ng-click="delete()">删除</button>
                </div>
            </div>
        </div>
    </div>
</div>