<div ng-include src="'../templates/nav.html'"></div>
<div class="container-fluid">
    <div ng-include src="'../templates/menu.html'"></div>
    <div class="main">
        <h3 class="sub-header">
            <a href="#/source">主面板</a> / 
            <a href="#/source/{{source._id}}">{{ source.name }}</a> / {{ group.name }}
        </h3>
        <div class="bg-fff">
            <div id="chart"></div>

            <div>
                <table class="table">
                    <thead>
                        <tr class="inbox-item keytexts">
                            <th>count</th>
                            <th ng-repeat="item in group.keys">{{item.name}}</th>
                            <th ng-repeat="item in group.values">{{item.name}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="inbox-item" ng-repeat="item in content">
                            <td>{{item.count || 0}}</td>
                            <td><a href="#/source/{{ sourceID }}/{{ groupID }}/{{group.keys[0].key}}/{{ item.key }}">{{item.key || 0}}</a></td>
                            <td ng-repeat="val in group.values">{{ item.values[ val.key ] }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>