<div ng-include src="'../templates/nav.html'"></div>
<div class="container-fluid">
    <div ng-include src="'../templates/menu.html'"></div>
    <div class="main">
        <h3 class="sub-header">
            <a href="#/source">主面板</a> / 
            <a href="#/source/{{source._id}}">{{ source.name }}</a> / {{ group.name }}
        </h3>

        <h4>Request URL</h4>

<pre><code>http://stat.berwin.me/api/v1/content</code></pre>

        <h4>Method</h4>

<pre><code>POST</code></pre>

        <h4>Parameters</h4>

<pre><code>{
    groupID : '{{group._id}}',
    sourceID : '{{source._id}}',
    token: '{{source.token}}'
    data : {
<span ng-repeat="item in group.keys">        {{item.key}}: 'test',<br ng-if="$index < group.keys.length-1"></span>
        value: '{{group.values[0].key}}'
    }
}</code></pre>
        
        <p>注：所有ID及参数均为真实有效的实际参数</p>
        <ul>
            <li>groupID : groupID</li>
            <li>sourceID: sourceID</li>
            <li>token : 为了验证身份用，token在主面板信息中查看。</li>
            <li>data：统计的关键数据
                <ul>
                    <li><code>?</code>: 这是一个 <code>键(key)</code> : <code>值(value)</code>，<code>键(key)</code>为创建group(蓝块) 时，所填写的key，<code>值(value)</code>根据需求填写 （这里不明白没关系，下面会给出例子）</li>
                    <li><code>?</code>: ... 同上（根据创建group(蓝块) 时配置的key的数量，这里可能有N多个）</li>
                    <li><code>value</code>: 值为创建group(蓝块) 时配置的value中选一个</li>
                </ul>
            </li>
        </ul>
        <p>更详细的API使用说明可以去<a href="#/help">帮助中心</a>查看。</p>
    </div>
</div>