.tc{text-align:center;}
.tr{text-align:right;}
.bg_blue{background:#337ab7;color:#fff;}
.bg_green{background:#3adbab;color:#000;}
.pointer{cursor:pointer;}
.fl{float:left;}
.fr{float:right;}
.mt10{margin-top:10px;}
.clearfix:before,.clearfix:after{content:''; display:table;}.clearfix:after{clear:both;}.clearfix{*zoom:1;}
.err{border-color:#e74c3c!important;}

/* Home */

/* End Home */




/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
.index_mail {padding-top: 50px;}


/*
 * Global add-ons
 */

.sub-header {padding-bottom: 10px;border-bottom: 1px solid #eee;}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {border: 0;}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {display: none;}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {padding-right: 20px;padding-left: 20px;}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {color: #fff;background-color: #428bca;}


/*
 * Main content
 */

.main {padding: 20px;}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {margin-top: 0;}


/*
 * Placeholder dashboard ideas
 */

.placeholders {margin-bottom: 30px;text-align: center;}
.placeholders h4 {margin-bottom: 0;}
.placeholder {margin-bottom: 20px;}
.placeholder div {width:185px;height:185px;line-height:185px;border-radius: 50%;margin:0 auto;font-size:40px;}


/* style */
input,button,select,textarea{outline:none}/*清除chrome的黄色边*/
.mb20{margin-bottom:20px!important;}

.input_text{width:100%;padding:11px 10px;margin-bottom:10px;font-size:17px;border:2px solid transparent;border-radius:6px;transition:border linear .2s,box-shadow linear .2s;}
.input_text:focus{border-color:#337ab7;}

.btn_nb{padding:12px 0;width:100%;transition:0.25s;border:none;border-radius:6px;}

.btn_nb_blue{background:#337ab7;color:#fff;}
.btn_nb_blue:hover{background:#3498DB;color:#fff;}
.btn_nb_blue:active{background:#286090;color:#fff;}
.btn_nb_red{background:#d9534f;color:#fff;}
.btn_nb_red:hover{background:#e74c3c;color:#fff;}
.btn_nb_red:active{background:#c9302c;color:#fff;}

/* login */

.login_head{position:absolute;width:100%;height:50%;background:#3686be;margin-top:-70px;color:#fff;}
.login_head h1{font-size:60px;margin-top:80px;}
.login_main{width:100%;position:absolute;top:50%;margin-top:-117px;}
.login_main a{transition:.2s;color:#bfc9ca;}
.login_main a:hover{text-decoration:none;color:#337ab7;}

/* create project */
.create_project h1{margin:5% 0;}
.create_project_box{background:#eceff1;padding:25px;border-radius:6px;max-width:500px;margin:0 auto;}

/* console */
.console_box{max-width:750px;}
.console_main h1{margin:3% 0;}
.console_sidebar{padding:20px;}

.create_group_box .input-group,.create_group_box .input-group input,.create_group_box .input-group .btn{height:50px;}
.create_group_box .input-group input{font-size:17px;border-radius:6px 0 0 6px;margin:0;border:1px solid #ccc;}
